In [166]:
import pandas as pd
import numpy as np
import geopandas as gpd


import matplotlib.pyplot as plt
import seaborn as sns

In [167]:
parks = gpd.read_file('park.geojson')

In [168]:
parks.head()

,area,park,4,acre,govt,x,geometry
0,9959.83,FERRIS TRIANGLE PARK,6.796,0.229,CITY,6.051,"POLYGON ((-74.09222 40.69879, -74.09196 40.698..."
1,242400.55,HAMILTON PARK,6.903,5.565,CITY,6.181,"POLYGON ((-74.04590 40.72839, -74.04409 40.728..."
2,6465.72,FITZGERALD-HOLOTA PARK,6.873,0.148,CITY,6.189,"POLYGON ((-74.04279 40.71982, -74.04278 40.720..."
3,20007.63,SIXTEENTH STREET PLAYGROUND,6.922,0.459,CITY,6.189,"POLYGON ((-74.04244 40.73313, -74.04208 40.733..."
4,2693.35,BRAMHALL AVENUE MINI PARK,6.858,0.062,CITY,6.100,"POLYGON ((-74.07463 40.71550, -74.07459 40.715..."

In [169]:
def centerpoints_lat(x):
    target_ = x.copy()
    for i in range(len(x)):
        if i == 0:
            
            target_[i] = target_[i].split(' ')
            
        else:
            target_[i] = target_[i].split(' ')[1:]
    target_ = np.array(target_)
    for i in range(len(target_)):
        try:
            target_[i] = np.array(target_[i]).astype(float)
        except:
            target_[i] = np.array([np.nan,np.nan])
    target_ = target_[:,1].astype(float)
    center_lng = (max(target_) + min(target_))/2
    return center_lng

In [170]:
def centerpoints_lng(x):
    target_ = x.copy()
    for i in range(len(x)):
        if i == 0:
            print(target_[i])
            target_[i] = target_[i].split(' ')
        else:
            target_[i] = target_[i].split(' ')[1:]
    target_ = np.array(target_)
    for i in range(len(target_)):
        try:
            target_[i] = np.array(target_[i]).astype(float)
        except:
            target_[i] = np.array([np.nan,np.nan])
    target_ = target_[:,0].astype(float)
    center_lng = (max(target_) + min(target_))/2
    return center_lng

In [171]:
parks['geometry'] = parks['geometry'].astype(str)
parks['geometry']

0     POLYGON ((-74.09221605926311 40.69878569118558...
1     POLYGON ((-74.04589625230764 40.72839022682133...
2     POLYGON ((-74.0427928877194 40.71982379096955,...
3     POLYGON ((-74.04244101042865 40.73312546066197...
4     POLYGON ((-74.07462706346956 40.71550429575202...
                            ...
81    POLYGON ((-74.06561580270672 40.72206597492038...
82    POLYGON ((-74.06746453042302 40.73367810169124...
83    POLYGON ((-74.07294822641809 40.71153096523942...
84    POLYGON ((-74.04330022367508 40.74535853564802...
85    POLYGON ((-74.03757587365496 40.71517395587072...
Name: geometry, Length: 86, dtype: object

In [172]:
parks['geometry'] = parks['geometry'].str[10:-3]
parks['geometry']

0     -74.09221605926311 40.69878569118558, -74.0919...
1     -74.04589625230764 40.72839022682133, -74.0440...
2     -74.0427928877194 40.71982379096955, -74.04278...
3     -74.04244101042865 40.73312546066197, -74.0420...
4     -74.07462706346956 40.71550429575202, -74.0745...
                            ...
81    -74.06561580270672 40.72206597492038, -74.0655...
82    -74.06746453042302 40.73367810169124, -74.0673...
83    -74.07294822641809 40.71153096523942, -74.0729...
84    -74.04330022367508 40.74535853564802, -74.0426...
85    -74.03757587365496 40.71517395587072, -74.0372...
Name: geometry, Length: 86, dtype: object

In [173]:
parks['geometry'] = parks['geometry'].astype(str)

In [174]:
parks['geometry'] = parks['geometry'].str.split(',')

In [175]:
parks['geometry'].loc[0][1].split(' ')[1:]

['-74.09196496014037', '40.69848696861669']

In [176]:
parks['center_lng'] =parks['geometry'].apply(lambda x:centerpoints_lng(x))

-74.09221605926311 40.69878569118558
-74.04589625230764 40.72839022682133
-74.0427928877194 40.71982379096955
-74.04244101042865 40.73312546066197
-74.07462706346956 40.71550429575202
-74.09457337279433 40.71096456990981
-74.06866619595085 40.70021364331979
-74.07068838271027 40.73462704307391
-74.07630950500156 40.70425270387694
-74.07204828718399 40.71442344942697
-74.07342242630517 40.71592560347592
-74.07382379377596 40.72537342323236
-74.06780759182838 40.72530578048834
-74.04747531964533 40.73817498821725
-74.04283127522794 40.74304545321765
-74.02975587700948 40.71939327915145
-74.04189103037932 40.72591787860112
-74.06667553977425 40.71261951752164
-74.03377909303394 40.73228297025639
-74.07128066687717 40.73430431611905
-74.06728897161611 40.72025067445342
-74.03254000121248 40.72014777946244
-74.09055530186711 40.72460118700558
-74.07276557621407 40.71534382994636
-74.08567153968131 40.70136458867115
-74.07846183528602 40.71329876396251
-74.04958593091138 40.72649759221268
-74.03044380818676 40.71706773919576
-74.08517205657257 40.73040070622805
-74.08518648878281 40.71127198543824
-74.08075032243245 40.69766342498024
-74.05873301641284 40.74716303788789
-74.04768682598603 40.71852200463942
-74.03466487124562 40.71258756352562
-74.0903635811071 40.69727245647852
-74.0462643575983 40.68931922971205
-74.06386937647019 40.71439772469181
-74.05389708330117 40.74368831906479
-74.03748052193228 40.71566390931854
-74.05664224943487 40.71969066770629
-74.08885197194216 40.70239915222231
-74.03236515108145 40.71699654402769
-74.06633655321374 40.70040272893567
-74.03824789036911 40.71243862278949
-74.04365993593824 40.71808513070093
-74.03634413244961 40.71278475606087
-74.04260433341508 40.71543911296828
-74.07579899521096 40.70737698493496
-74.08742256984367 40.70768754763696
-74.07471921088487 40.71221041373006
-74.03278163806311 40.72684926216997
-74.10221734719833 40.69707063012882
-74.0523341259095 40.72819009770937
-74.04706465024017 40.73803269586033
-74.09717342630888 40.72633341508139
-74.08522249287809 40.70070914557122
-74.0683917257107 40.71363936900801
-74.06627135769264 40.73040365935861
-74.05625434529244 40.75341940749308
-74.08636944244495 40.71582022714949
-74.09534867902501 40.69417411374084
-74.05225323570463 40.72575684672309
-74.03812357001824 40.71573586187124
-74.04615986516561 40.72007716193676
-74.08110918474557 40.70718138982861
-74.09805981889787 40.69095604604282
-74.09593717830599 40.69977265018526
-74.06713634693784 40.72015301461148
-74.07246810177452 40.71129543119722
-74.08711593042142 40.70474927897742
-74.07017844997921 40.71624168748109
-74.07130662704722 40.72944036194762
-74.0784358395816 40.72410631332285
-74.05685339292026 40.75228592310577
-74.04186325471784 40.75136908922516
-74.04368507825833 40.69803308227463
-74.05896768385962 40.71292601974634
-74.04242715803319 40.72227416277995
-74.05167981284708 40.72297664463876
-74.05030840187931 40.7169819618974
-74.05177726134941 40.73239981003498
-74.06561580270672 40.72206597492038
-74.06746453042302 40.73367810169124
-74.07294822641809 40.71153096523942
-74.04330022367508 40.74535853564802
-74.03757587365496 40.71517395587072

In [177]:
parks['center_lat'] = parks['geometry'].apply(lambda x:centerpoints_lat(x))

In [179]:
parks = parks[['park','center_lng','center_lat']]

In [180]:
parks.head()

                          park  center_lng  center_lat
0         FERRIS TRIANGLE PARK  -74.092192   40.698514
1                HAMILTON PARK  -74.045092   40.727655
2       FITZGERALD-HOLOTA PARK  -74.042400   40.719698
3  SIXTEENTH STREET PLAYGROUND  -74.042205   40.732904
4    BRAMHALL AVENUE MINI PARK  -74.074587   40.715429

In [186]:
parks.to_json('park_centerpoints.json',orient='index')