In [59]:
import pandas as pd

In [60]:
tracts = pd.read_csv('jc_tract_scores_final.csv', dtype={'tract_id':str})

In [61]:
tracts= tracts.iloc[:-1,:]

In [62]:
tracts['tract_id'] = tracts['census_name'].str[17:]

In [63]:
tracts = tracts.set_index('tract_id')

In [64]:
tracts

,census_name,imp_percent,imp_score,flood_score,greenscore,greenview_index,storwater_managed,treecountestimate,overallscore
tract_id,,,,,,,,,
55,Census Tract 55,89.419004,1.0,3.0,0.0,9.421595,1292760.0,1701,1.0
66,Census Tract 66,85.712628,1.0,3.0,5.0,20.968174,1864280.0,2453,3.0
72,Census Tract 72,67.826788,2.0,0.0,5.0,17.568222,2942720.0,3872,2.0
23,Census Tract 23,91.552611,0.0,3.0,4.0,15.248310,2215400.0,2915,2.0
24,Census Tract 24,79.873525,1.0,3.0,5.0,24.170932,2479880.0,3263,3.0
...,...,...,...,...,...,...,...,...,...
58.01,Census Tract 58.01,76.867946,2.0,1.0,4.0,15.661278,2849240.0,3749,2.0
45,Census Tract 45,81.918562,1.0,1.0,5.0,17.437245,3930720.0,5172,2.0
9.02,Census Tract 9.02,81.725338,1.0,0.0,2.0,11.652967,3968720.0,5222,1.0
17.01,Census Tract 17.01,82.431279,1.0,1.0,2.0,11.518328,3131960.0,4121,1.0
13,Census Tract 13,73.106278,2.0,1.0,5.0,22.397987,2860640.0,3764,3.0

In [52]:
centerpoints = pd.read_csv('centerpoints_1210.csv')

In [53]:
centerpoints = centerpoints.rename(columns={'data__name':'name','data__center_lng':'center_lng', 'data__center_lat':'center_lat'})

In [54]:
centerpoints

     name  center_lng  center_lat
0   52.00  -74.085396   40.708846
1   24.00  -74.045277   40.726574
2   56.00  -74.091518   40.705998
3    9.02  -74.062473   40.741328
4   43.00  -74.071393   40.716794
..    ...         ...         ...
62  72.00  -74.047732   40.728519
63  73.00  -74.047275   40.713518
64  23.00  -74.047693   40.723929
65  10.00  -74.059014   40.744687
66  58.02  -74.067245   40.682014

[67 rows x 3 columns]

In [55]:
tracts = tracts.merge(centerpoints, left_index = True, right_on = 'name')

In [56]:
tracts = tracts.set_index('name')

In [57]:
tracts

,census_name,imp_percent,imp_score,flood_score,greenscore,greenview_index,storwater_managed,treecountestimate,overallscore,center_lng,center_lat
name,,,,,,,,,,,
55.00,Census Tract 55,89.419004,1.0,3.0,0.0,9.421595,1292760.0,1701,1.0,-74.083714,40.704454
66.00,Census Tract 66,85.712628,1.0,3.0,5.0,20.968174,1864280.0,2453,3.0,-74.058198,40.725267
72.00,Census Tract 72,67.826788,2.0,0.0,5.0,17.568222,2942720.0,3872,2.0,-74.047732,40.728519
23.00,Census Tract 23,91.552611,0.0,3.0,4.0,15.248310,2215400.0,2915,2.0,-74.047693,40.723929
24.00,Census Tract 24,79.873525,1.0,3.0,5.0,24.170932,2479880.0,3263,3.0,-74.045277,40.726574
...,...,...,...,...,...,...,...,...,...,...,...
58.01,Census Tract 58.01,76.867946,2.0,1.0,4.0,15.661278,2849240.0,3749,2.0,-74.082866,40.699300
45.00,Census Tract 45,81.918562,1.0,1.0,5.0,17.437245,3930720.0,5172,2.0,-74.072220,40.711020
9.02,Census Tract 9.02,81.725338,1.0,0.0,2.0,11.652967,3968720.0,5222,1.0,-74.062473,40.741328
17.01,Census Tract 17.01,82.431279,1.0,1.0,2.0,11.518328,3131960.0,4121,1.0,-74.077294,40.736269
13.00,Census Tract 13,73.106278,2.0,1.0,5.0,22.397987,2860640.0,3764,3.0,-74.047038,40.738233

In [65]:
tracts.to_json('tract_info_1210.json',orient='index')