In [2]:
import geopandas as gpd

In [14]:
grid = gpd.read_file('jc_grid_flood.shp')

In [15]:
grid.columns

Index(['Join_Count', 'TARGET_FID', 'Id', 'Shape_Leng', 'Shape_Area', 'GeoID',
       'FLD_AR_ID', 'FLD_ZONE', 'FLOODWAY', 'SFHA_TF', 'STATIC_BFE', 'V_DATUM',
       'DEPTH', 'LEN_UNIT', 'VELOCITY', 'VEL_UNIT', 'AR_REVERT', 'BFE_REVERT',
       'DEP_REVERT', 'SOURCE_CIT', 'geometry'],
      dtype='object')

In [11]:
grid[['TARGET_FID','Id','Shape_Leng','Shape_Area','GeoID','geometry']].head()

,TARGET_FID,Id,Shape_Leng,Shape_Area,GeoID,geometry
0,1,0,2530.758569,385934.045109,1.0,"POLYGON ((-74.05343 40.76242, -74.05548 40.762..."
1,2,0,2655.536428,444097.228757,2.0,"POLYGON ((-74.09057 40.73430, -74.09262 40.734..."
2,3,0,2721.468967,450465.444325,3.0,"POLYGON ((-74.10300 40.71478, -74.10505 40.714..."
3,4,0,2721.468310,450465.184524,4.0,"POLYGON ((-74.07227 40.70597, -74.07433 40.705..."
4,5,0,2721.468310,450465.184524,5.0,"POLYGON ((-74.06193 40.71898, -74.06398 40.718..."

In [16]:
grid.to_file('jc_grid.geojson',driver='GeoJSON')

In [2]:
import pandas as pd

In [3]:
pd.read_csv('jc_grid_Scores_nov30.csv').head()

,grid_id,imp_percent,imp_score,flood_score,green_score,greenview_index,storwater_managed,treecountestimate,overall_score
0,1,43.007936,4,0,NaN,NaN,0,0,1.333333
1,2,54.205350,3,1,NaN,NaN,0,0,1.333333
2,3,54.068938,3,1,NaN,NaN,0,0,1.333333
3,4,79.203148,2,1,0.0,17.946235,156800,196,1.000000
4,5,94.985259,0,1,NaN,NaN,0,0,0.333333